<!-- Partial view with fields to fill/edit  -->

<!-- day field -->
<div class="form group">
  <label for="day">Day to add</label>
  <input name="day" type="date" id="day" required>
</div>

<!-- task field(s) -->
<div class="form group" id="task_contaier">
  <label for="task">Task to add -></label>
  <input type="text" name="task" id="task" required>
</div>

<!-- Add new task button -->
<button class="btn btn-warning" id="add_new_task">Add new task</button>

<!-- Submit button -->
<input type="submit" class="btn btn-info">

<!-- Back button -->
<a href="/todo" class="btn btn-danger">Back</a>

<script>
  // add new task button
  const addNewTaskButton = document.getElementById('add_new_task');

  
  // event listener to add task fields
  addNewTaskButton.addEventListener('click', function() {
    // task container
    const taskContainer = document.getElementById('task_contaier');
    
    // label to add for each task
    let label = document.createElement('label');
    label.innerHTML = "Task to add ->";
    // label.class = "d-block";
    
    // input to add for each task
    let input = document.createElement('input');
    input.type = "text";
    input.name = "task";
    // input.class = "d-block";

    // logging check
    console.log('add new task clicked');

    // appending label+input each time the button is pressed
    taskContainer.appendChild(document.createElement("div")); // this is what currently makes label+input occupy a whole line
    taskContainer.appendChild(label);
    taskContainer.appendChild(input);
  });
</script>
