<!-- Partial view with fields to fill/edit  -->

<!-- day field -->
<div class="form group">
  <label for="day">Day to add</label>
  <input name="day" type="date" id="day" required>
</div>

<!-- task field -->
<div class="form group">
  <label for="task">Task to add</label>
  <textarea name="task" id="task" cols="30" rows="1" required>test</textarea>
</div>

<!-- Submit button -->
<input type="submit" class="btn btn-info">

<!-- Back button -->
<a href="/todo" class="btn btn-danger">Back</a>
