  <!-- Main navbar -->
  <div class="text-center">
    <nav class="navbar navbar-nav d-inline ">
      <a href="/todo/new_day" class="btn btn-info">Add new day</a>
      <a class="btn btn-success">Today</a>
      <a class="btn btn-success">Tomorrow</a>
      <a class="btn btn-success">Current week</a>
      <a class="btn btn-success">Search day</a>
    </nav>
  </div>