<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Tomorrow</title>
</head>

<body>
  <h1 class="text-center">My TO-DOs</h1>

  <%- include('_navbar') %>
  <div class="container">
    <div class="card">
      <card class="card-body">
        <h3>Lunedi</h3>
      </card>
      <card class="card-body">
        <h3>Martedi</h3>
      </card>
      <card class="card-body">
        <h3>Mercoledi</h3>
      </card>
      <card class="card-body">
        <h3>Giovedi</h3>
      </card>
      <card class="card-body">
        <h3>Venerdi</h3>
      </card>
      <card class="card-body">
        <h3>Sabato</h3>
      </card>
      <card class="card-body">
        <h3>Domenica</h3>
      </card>
    </div>
  </div>
</body>

</html>